In [2]:
import pandas as pd

df = pd.read_excel('data/OP_Delivery_Requests.xlsx')

# print whole sheet data
df.head()

,REQUEST_ID,ORG_ID,CUSTOMER_ID,STATION_ID,REQUEST_DATE,REQUEST_CONTACT,BRANCH_NAME,GET_LOCATION_NAME,GET_CONTACT,GET_TELEPHONE,...,PRICE_INSUR_SERVICE,PostCity,PostArea,PostRoad,Clear_Time,Clear_Flag,payment_detail,Direct_Flag,PRICE_INSUR_WEIGHT,request_from
0,26321393,1,127764,2,2019-11-04 00:00:00.000,sr,NaN,中國信託,文處中心,33277777,...,NaN,NaN,NaN,NaN,2019-11-05 16:37:11.783,1.0,NaN,1,NaN,NaN
1,26399197,1,91791,3,2019-11-01 00:00:00.000,謝S,NaN,大中票券金融股份有限公司,謝S,27785577,...,NaN,NaN,NaN,NaN,2019-11-05 15:22:14.003,1.0,NaN,1,NaN,NaN
2,26399262,1,61171,3,2019-11-01 00:00:00.000,陳S,16F-財務部,NaN,陳S,27786878,...,NaN,NaN,NaN,NaN,2019-11-05 15:42:54.773,1.0,NaN,1,NaN,NaN
3,26399286,1,61171,3,2019-11-01 00:00:00.000,SR,13F-開架行銷,NaN,NaN,27786878,...,NaN,NaN,NaN,NaN,2019-11-05 15:42:54.773,1.0,NaN,1,NaN,NaN
4,26399201,1,125969,3,2019-11-01 00:00:00.000,SR,NaN,和泰,SR,23615858,...,NaN,NaN,NaN,NaN,2019-11-05 15:22:09.340,1.0,NaN,1,NaN,NaN

,REQUEST_ID,ORG_ID,CUSTOMER_ID,STATION_ID,REQUEST_DATE,REQUEST_CONTACT,BRANCH_NAME,GET_LOCATION_NAME,GET_CONTACT,GET_TELEPHONE,...,PRICE_INSUR_SERVICE,PostCity,PostArea,PostRoad,Clear_Time,Clear_Flag,payment_detail,Direct_Flag,PRICE_INSUR_WEIGHT,request_from
0,26321393,1,127764,2,2019-11-04 00:00:00.000,sr,NaN,中國信託,文處中心,33277777,...,NaN,NaN,NaN,NaN,2019-11-05 16:37:11.783,1.0,NaN,1,NaN,NaN
1,26399197,1,91791,3,2019-11-01 00:00:00.000,謝S,NaN,大中票券金融股份有限公司,謝S,27785577,...,NaN,NaN,NaN,NaN,2019-11-05 15:22:14.003,1.0,NaN,1,NaN,NaN
2,26399262,1,61171,3,2019-11-01 00:00:00.000,陳S,16F-財務部,NaN,陳S,27786878,...,NaN,NaN,NaN,NaN,2019-11-05 15:42:54.773,1.0,NaN,1,NaN,NaN
3,26399286,1,61171,3,2019-11-01 00:00:00.000,SR,13F-開架行銷,NaN,NaN,27786878,...,NaN,NaN,NaN,NaN,2019-11-05 15:42:54.773,1.0,NaN,1,NaN,NaN
4,26399201,1,125969,3,2019-11-01 00:00:00.000,SR,NaN,和泰,SR,23615858,...,NaN,NaN,NaN,NaN,2019-11-05 15:22:09.340,1.0,NaN,1,NaN,NaN

,REQUEST_ID,ORG_ID,CUSTOMER_ID,STATION_ID,REQUEST_DATE,REQUEST_CONTACT,BRANCH_NAME,GET_LOCATION_NAME,GET_CONTACT,GET_TELEPHONE,...,PRICE_INSUR_SERVICE,PostCity,PostArea,PostRoad,Clear_Time,Clear_Flag,payment_detail,Direct_Flag,PRICE_INSUR_WEIGHT,request_from
0,26321393,1,127764,2,2019-11-04 00:00:00.000,sr,NaN,中國信託,文處中心,33277777,...,NaN,NaN,NaN,NaN,2019-11-05 16:37:11.783,1.0,NaN,1,NaN,NaN
1,26399197,1,91791,3,2019-11-01 00:00:00.000,謝S,NaN,大中票券金融股份有限公司,謝S,27785577,...,NaN,NaN,NaN,NaN,2019-11-05 15:22:14.003,1.0,NaN,1,NaN,NaN
2,26399262,1,61171,3,2019-11-01 00:00:00.000,陳S,16F-財務部,NaN,陳S,27786878,...,NaN,NaN,NaN,NaN,2019-11-05 15:42:54.773,1.0,NaN,1,NaN,NaN
3,26399286,1,61171,3,2019-11-01 00:00:00.000,SR,13F-開架行銷,NaN,NaN,27786878,...,NaN,NaN,NaN,NaN,2019-11-05 15:42:54.773,1.0,NaN,1,NaN,NaN
4,26399201,1,125969,3,2019-11-01 00:00:00.000,SR,NaN,和泰,SR,23615858,...,NaN,NaN,NaN,NaN,2019-11-05 15:22:09.340,1.0,NaN,1,NaN,NaN

,REQUEST_ID,ORG_ID,CUSTOMER_ID,STATION_ID,REQUEST_DATE,REQUEST_CONTACT,BRANCH_NAME,GET_LOCATION_NAME,GET_CONTACT,GET_TELEPHONE,...,PRICE_INSUR_SERVICE,PostCity,PostArea,PostRoad,Clear_Time,Clear_Flag,payment_detail,Direct_Flag,PRICE_INSUR_WEIGHT,request_from
0,26321393,1,127764,2,2019-11-04 00:00:00.000,sr,NaN,中國信託,文處中心,33277777,...,NaN,NaN,NaN,NaN,2019-11-05 16:37:11.783,1.0,NaN,1,NaN,NaN
1,26399197,1,91791,3,2019-11-01 00:00:00.000,謝S,NaN,大中票券金融股份有限公司,謝S,27785577,...,NaN,NaN,NaN,NaN,2019-11-05 15:22:14.003,1.0,NaN,1,NaN,NaN
2,26399262,1,61171,3,2019-11-01 00:00:00.000,陳S,16F-財務部,NaN,陳S,27786878,...,NaN,NaN,NaN,NaN,2019-11-05 15:42:54.773,1.0,NaN,1,NaN,NaN
3,26399286,1,61171,3,2019-11-01 00:00:00.000,SR,13F-開架行銷,NaN,NaN,27786878,...,NaN,NaN,NaN,NaN,2019-11-05 15:42:54.773,1.0,NaN,1,NaN,NaN
4,26399201,1,125969,3,2019-11-01 00:00:00.000,SR,NaN,和泰,SR,23615858,...,NaN,NaN,NaN,NaN,2019-11-05 15:22:09.340,1.0,NaN,1,NaN,NaN

,REQUEST_ID,ORG_ID,CUSTOMER_ID,STATION_ID,REQUEST_DATE,REQUEST_CONTACT,BRANCH_NAME,GET_LOCATION_NAME,GET_CONTACT,GET_TELEPHONE,...,PRICE_INSUR_SERVICE,PostCity,PostArea,PostRoad,Clear_Time,Clear_Flag,payment_detail,Direct_Flag,PRICE_INSUR_WEIGHT,request_from
0,26321393,1,127764,2,2019-11-04 00:00:00.000,sr,NaN,中國信託,文處中心,33277777,...,NaN,NaN,NaN,NaN,2019-11-05 16:37:11.783,1.0,NaN,1,NaN,NaN
1,26399197,1,91791,3,2019-11-01 00:00:00.000,謝S,NaN,大中票券金融股份有限公司,謝S,27785577,...,NaN,NaN,NaN,NaN,2019-11-05 15:22:14.003,1.0,NaN,1,NaN,NaN
2,26399262,1,61171,3,2019-11-01 00:00:00.000,陳S,16F-財務部,NaN,陳S,27786878,...,NaN,NaN,NaN,NaN,2019-11-05 15:42:54.773,1.0,NaN,1,NaN,NaN
3,26399286,1,61171,3,2019-11-01 00:00:00.000,SR,13F-開架行銷,NaN,NaN,27786878,...,NaN,NaN,NaN,NaN,2019-11-05 15:42:54.773,1.0,NaN,1,NaN,NaN
4,26399201,1,125969,3,2019-11-01 00:00:00.000,SR,NaN,和泰,SR,23615858,...,NaN,NaN,NaN,NaN,2019-11-05 15:22:09.340,1.0,NaN,1,NaN,NaN

,REQUEST_ID,ORG_ID,CUSTOMER_ID,STATION_ID,REQUEST_DATE,REQUEST_CONTACT,BRANCH_NAME,GET_LOCATION_NAME,GET_CONTACT,GET_TELEPHONE,...,PRICE_INSUR_SERVICE,PostCity,PostArea,PostRoad,Clear_Time,Clear_Flag,payment_detail,Direct_Flag,PRICE_INSUR_WEIGHT,request_from
0,26321393,1,127764,2,2019-11-04 00:00:00.000,sr,NaN,中國信託,文處中心,33277777,...,NaN,NaN,NaN,NaN,2019-11-05 16:37:11.783,1.0,NaN,1,NaN,NaN
1,26399197,1,91791,3,2019-11-01 00:00:00.000,謝S,NaN,大中票券金融股份有限公司,謝S,27785577,...,NaN,NaN,NaN,NaN,2019-11-05 15:22:14.003,1.0,NaN,1,NaN,NaN
2,26399262,1,61171,3,2019-11-01 00:00:00.000,陳S,16F-財務部,NaN,陳S,27786878,...,NaN,NaN,NaN,NaN,2019-11-05 15:42:54.773,1.0,NaN,1,NaN,NaN
3,26399286,1,61171,3,2019-11-01 00:00:00.000,SR,13F-開架行銷,NaN,NaN,27786878,...,NaN,NaN,NaN,NaN,2019-11-05 15:42:54.773,1.0,NaN,1,NaN,NaN
4,26399201,1,125969,3,2019-11-01 00:00:00.000,SR,NaN,和泰,SR,23615858,...,NaN,NaN,NaN,NaN,2019-11-05 15:22:09.340,1.0,NaN,1,NaN,NaN

,REQUEST_ID,ORG_ID,CUSTOMER_ID,STATION_ID,REQUEST_DATE,REQUEST_CONTACT,BRANCH_NAME,GET_LOCATION_NAME,GET_CONTACT,GET_TELEPHONE,...,PRICE_INSUR_SERVICE,PostCity,PostArea,PostRoad,Clear_Time,Clear_Flag,payment_detail,Direct_Flag,PRICE_INSUR_WEIGHT,request_from
0,26321393,1,127764,2,2019-11-04 00:00:00.000,sr,NaN,中國信託,文處中心,33277777,...,NaN,NaN,NaN,NaN,2019-11-05 16:37:11.783,1.0,NaN,1,NaN,NaN
1,26399197,1,91791,3,2019-11-01 00:00:00.000,謝S,NaN,大中票券金融股份有限公司,謝S,27785577,...,NaN,NaN,NaN,NaN,2019-11-05 15:22:14.003,1.0,NaN,1,NaN,NaN
2,26399262,1,61171,3,2019-11-01 00:00:00.000,陳S,16F-財務部,NaN,陳S,27786878,...,NaN,NaN,NaN,NaN,2019-11-05 15:42:54.773,1.0,NaN,1,NaN,NaN
3,26399286,1,61171,3,2019-11-01 00:00:00.000,SR,13F-開架行銷,NaN,NaN,27786878,...,NaN,NaN,NaN,NaN,2019-11-05 15:42:54.773,1.0,NaN,1,NaN,NaN
4,26399201,1,125969,3,2019-11-01 00:00:00.000,SR,NaN,和泰,SR,23615858,...,NaN,NaN,NaN,NaN,2019-11-05 15:22:09.340,1.0,NaN,1,NaN,NaN

In [1]:
import random
one=one_phone=two=two_phone=0
def sampling(string,p,c):
    global one,one_phone,two,two_phone
    rand_len = len(str(string))
    if(rand_len>9):
        one = str(random.randint(0,9))
        one_phone = str(random.randint(0,9))
        two = str(random.randint(0,9))+str(random.randint(0,9))
        two_phone = str(random.randint(0,9))+str(random.randint(0,9))
    else:
        one = str(random.randint(0,rand_len-1))
        one_phone = str(random.randint(0,rand_len-1))
        two = str(random.randint(0,rand_len-1))+str(random.randint(0,rand_len-1))
        two_phone = str(random.randint(0,rand_len-1))+str(random.randint(0,rand_len-1))
    if(len(str(string))<4):
        #if(str(string) == 'nan' or str(string) == '0' or str(string) =='XX'):
        return ''
    else:
        new = []
        for s in string:
            new.append(s)
        for index,item in enumerate(p):
            new[int(item)] = c[index]
        return ''.join(new)
# sampling('3343+分機',one,one_phone)
# sampling('3343+分機',two,two_phone)

In [3]:
from difflib import SequenceMatcher, get_close_matches
import sys

def search_myphton(myphone):
#     phone = correct_lis;
    phone = []
    for index,row in df.iterrows():
        phone.append(str(row['GET_TELEPHONE'])) #get telephone
        phone.append(str(row['SEND_TELEPHONE'])) #send telephone
    return_phone = []
   
    seq = SequenceMatcher(myphone)#a,b 帶入參數
    match = get_close_matches(myphone,phone,n=3,cutoff=0.3)
    if(len(match)>=1):
        for m in match:
            return_phone += [m]
        return(return_phone)
    else: 
        return(-1)

In [7]:
import os
if __name__ =='__main__':
    correct_lis = []
    test_lis = []
    get_value()
    print(1)

NameError: name 'get_value' is not defined

NameError: name 'get_value' is not defined

NameError: name 'get_value' is not defined

NameError: name 'get_value' is not defined

NameError: name 'get_value' is not defined

NameError: name 'get_value' is not defined

NameError: name 'get_value' is not defined

In [6]:
def get_value():
    global one,one_phone,two,two_phone
    phone_dict = {}
    for index,row in df.iterrows():
        phone_dict['get_telephone'] = row['GET_TELEPHONE'] #get telephone
        phone_dict['send_telephone'] = row['SEND_TELEPHONE'] #send telephone
        correct_lis.append(phone_dict.copy()) #append data into list

#         for z in range(3):
#         print(z)
#         #========================start make random phone====================
#         test_phone = {} 
        #==========================random get_telephone=========================
#         test_phone[row['GET_TELEPHONE']] = search_myphton(sampling(row['GET_TELEPHONE'],str(one),str(one_phone))) 
#         test_phone[row['GET_TELEPHONE']] = search_myphton(sampling(row['GET_TELEPHONE'],str(two),str(two_phone)))
#         #========================random send_telephone==========================
#         test_phone[row['SEND_TELEPHONE']] = search_myphton(sampling(row['SEND_TELEPHONE'],str(one),str(one_phone)))
#         test_phone[row['SEND_TELEPHONE']] = search_myphton(sampling(row['SEND_TELEPHONE'],str(two),str(two_phone)))
#         test_lis.append(test_phone.copy())

1
1
1
1
1
1
1

In [15]:
global correct_lis
# for index,row in df.iterrows():
#     phone_dict = {}
#     phone_dict['get_telephone'] = row['GET_TELEPHONE'] #get telephone
#     phone_dict['send_telephone'] = row['SEND_TELEPHONE'] #send telephone
#     correct_lis.append(phone_dict.copy()) #append data into list
print(test_lis[0])
print(test_lis[1])
print(test_lis[2])

# for index,row in enumerate(test_lis):
    
#     if(len(match)>=1):
#         #print('+-----------------+')
#         for m in match:
#             #print('|    '+(m)+'   |')
#             #print('+=================+')
#             return_phone += [m]
#     print(row)

{'02-35187600': ['02-35187600', '02-35187600', '02-35187600'], '0908336312': ['0908336312', '0918368326', '0988342361']}
{'02-35187600': ['02-35187600', '02-35187600', '02-35187600'], '0908336312': ['0908336312', '0983718280', '0978963781']}
{'02-35187600': ['02-35187600', '02-35187600', '02-35187600'], '0908336312': ['0908336312', '0986098236', '0983605219']}
{'02-35187600': ['02-35187600', '02-35187600', '02-35187600'], '0908336312': ['0908336312', '0918368326', '0988342361']}
{'02-35187600': ['02-35187600', '02-35187600', '02-35187600'], '0908336312': ['0908336312', '0983718280', '0978963781']}
{'02-35187600': ['02-35187600', '02-35187600', '02-35187600'], '0908336312': ['0908336312', '0986098236', '0983605219']}
{'02-35187600': ['02-35187600', '02-35187600', '02-35187600'], '0908336312': ['0908336312', '0918368326', '0988342361']}
{'02-35187600': ['02-35187600', '02-35187600', '02-35187600'], '0908336312': ['0908336312', '0983718280', '0978963781']}
{'02-35187600': ['02-35187600', '02-35187600', '02-35187600'], '0908336312': ['0908336312', '0986098236', '0983605219']}
{'02-35187600': ['02-35187600', '02-35187600', '02-35187600'], '0908336312': ['0908336312', '0918368326', '0988342361']}
{'02-35187600': ['02-35187600', '02-35187600', '02-35187600'], '0908336312': ['0908336312', '0983718280', '0978963781']}
{'02-35187600': ['02-35187600', '02-35187600', '02-35187600'], '0908336312': ['0908336312', '0986098236', '0983605219']}
{'02-35187600': ['02-35187600', '02-35187600', '02-35187600'], '0908336312': ['0908336312', '0918368326', '0988342361']}
{'02-35187600': ['02-35187600', '02-35187600', '02-35187600'], '0908336312': ['0908336312', '0983718280', '0978963781']}
{'02-35187600': ['02-35187600', '02-35187600', '02-35187600'], '0908336312': ['0908336312', '0986098236', '0983605219']}
{'02-35187600': ['02-35187600', '02-35187600', '02-35187600'], '0908336312': ['0908336312', '0918368326', '0988342361']}
{'02-35187600': ['02-35187600', '02-35187600', '02-35187600'], '0908336312': ['0908336312', '0983718280', '0978963781']}
{'02-35187600': ['02-35187600', '02-35187600', '02-35187600'], '0908336312': ['0908336312', '0986098236', '0983605219']}
{'02-35187600': ['02-35187600', '02-35187600', '02-35187600'], '0908336312': ['0908336312', '0918368326', '0988342361']}
{'02-35187600': ['02-35187600', '02-35187600', '02-35187600'], '0908336312': ['0908336312', '0983718280', '0978963781']}
{'02-35187600': ['02-35187600', '02-35187600', '02-35187600'], '0908336312': ['0908336312', '0986098236', '0983605219']}